.Footer {
  padding: 2rem 0;
  background: $grey-6;
  color: #fff;
  font-size: 1.6rem;

  &__logo {
    display: block;
    max-width: 54px;
  }

  &__title {
    line-height: 1;
    font-size: 3.2rem;
    font-family: $font-heading;
    font-style: italic;
    display: inline-block;
    padding-right: 0.1rem;
    background: linear-gradient(
      (172deg, $color-primary 55%, $color-primary-dark 55%)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &--small {
      font-family: $font-heading;
    }
  }

  &__leftColumn {
    display: flex;
    flex-direction: column;
  }

  &__socialsContainer {
    display: flex;
    align-items: center;

    h2 {
      margin-right: 1rem;
    }
  }

  &__socials {
    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1rem;
      }

      a {
        font-size: 2rem;  
        display: inline-block;  
        position: relative; 
        color: $grey-6;
        z-index: 2;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 100%;
          background-color: $color-accent;
          z-index: -1;
          transition: .2s all ease-in-out;
        }

        &:hover,
        &:focus {
          &::after {
            background-color: $color-accent-light;
            transform: scale(1.15);
          }
        }
      }
    }
  }

  &__copyright {
    margin: 0;
    margin-top: auto;
  }

  &__address {
    font-style: normal;
  }

  &__phone {
    color: $color-accent;
  }

  &__field {
    display: block;
    letter-spacing: 0.6px;
  }
}
