body {
    color: $grey-5;
}

p {
    margin-bottom: $gutter-paragraph;
    line-height: 1.4;
}

.main-nav {
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Acumin Pro', sans-serif;

    &__link a {
        font-size: 1.8rem;
        letter-spacing: -.1px;
        
        &[aria-current="page"] {
            font-weight: 700;
        }
    }
}

[class^="heading--"] {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Rift', sans-serif;
    font-style: italic;
    margin-bottom: 2rem;
}

.heading {
    &--secondary {
        font-size: 4.2rem;
        letter-spacing: .1px;
    }
}